<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hcf.app.fund.train.persistence.InvTypeMaintainMapper">

    <select id="selectInvTypeIdByInvTypeName" resultType="long">
        SELECT id
        FROM inv_type_maintain
        WHERE inv_type_name LIKE #{name}
    </select>
</mapper>